In [1]:
%run hello_world.py

Hello,world!

In [2]:
%pwd

'/home/nbuser/library'

In [3]:
an_apple=27

In [4]:
an_example=42

In [5]:
an_apple

27

In [6]:
/home/nbuser/library/

NameError: name 'home' is not defined

In [ ]:
%run ipython_script_test.py

In [ ]:
c

In [ ]:
result

In [ ]:
%paste

In [ ]:
x=5
y=7
if x>5:
	x+=1
	y=8

In [ ]:
%cpaste

In [ ]:
a=np.random.randn(100,100)

In [ ]:
import numpy as np

In [ ]:
a=np.random.randn(100,100)

In [ ]:
%timeit np.dot(a,a)

In [ ]:
%matplotlib

In [ ]:
%matplotlib inline

In [ ]:
import matplotlib.pyplot as plt
plt.plot(np.random.randn(50).cumsum())

In [ ]:
%pwd

In [ ]:
import some_module

In [ ]:
result=some_module.f(5)
pi=some_module.PI

In [ ]:
result

In [ ]:
pi

In [ ]:
from some_module import f,g,PI
result=g(5,PI)

In [ ]:
result

In [ ]:
import some_module as sm
from some_module import PI as pi,g as gf

r1=sm.f(pi)
r2=gf(6,pi)

In [ ]:
r1

In [ ]:
r2

In [ ]:
5-7

In [ ]:
5<=2

In [ ]:
template='{0:.2f}{1:s}are worth us${2:d}'

In [ ]:
template.format(4.5560,'Argentine Pesos',1)

In [ ]:
val="espanol"

In [ ]:
val

In [ ]:
val_utf8=val.encode("utf-8")

In [ ]:
val_utf8

In [ ]:
val_utf8=b'espa\xc3\xb1o1'

In [ ]:
val_utf8.decode('utf-8')

In [ ]:
s='3.145159'

In [ ]:
fval=float(s)

In [ ]:
fval

In [ ]:
from datetime import datetime,date,time

In [ ]:
dt=datetime(2019,3,18,17,19,20)

In [ ]:
dt.year

In [ ]:
dt.second

In [ ]:
dt=datetime.now

In [ ]:
dt

In [ ]:
dt.date()

In [ ]:
dt=datetime(2019,3,18,20,22,30)

In [ ]:
dt.date()

In [ ]:
from datetime import datetime,date,time

In [ ]:
dt=datetime(2019,3,18,20,22,30)

In [ ]:
dt.date()

In [ ]:
dt.time()

In [ ]:
dt.strftime('%m/%d/%Y %H:%M')

In [ ]:
datetime.strptime('20091031','%Y%m%d')

In [ ]:
dt.replace(minute=0,second=0)

In [ ]:
dt2=datetime(2019,3,10,19,30)

In [ ]:
delta=dt-dt2

In [ ]:
delta

In [ ]:
type(delta)

In [ ]:
dt

In [ ]:
dt+delta

In [ ]:
dt-delta

In [ ]:
a=5;b=7

In [ ]:
c=8;d=4

In [ ]:
if a<b or c>d:
    print('Made it')

In [ ]:
4>3>2>1

In [ ]:
sequence=[1,2,None,4,None,5]
total=0
for value in sequence:
    if value is None:
        continue
    total += value

In [ ]:
total

In [ ]:
sequence=[1,2,0,4,6,5,2,1]
total_until_5=0
for value in sequence:
    if value==5:
        break
    total_until_5 += value

In [ ]:
total_until_5

In [ ]:
for i in range(4):
    for j in range(4):
        if j>i:
            break
        print((i,j))

In [ ]:
x=256
total=0
while x>0:
    if total > 500:
        break
    total += x
    x=x//2

In [ ]:
total

In [ ]:
256+128+64+32

In [ ]:
480+16+8

In [ ]:
seq=[1,2,3,4]
for i in range(len(seq)):
    val=seq[i]

val

In [ ]:
sum=0
for i in range(1000000):
    if i % 3 == 0 or i % 5 == 0:
        sum += i

In [ ]:
sum

In [ ]:
x=5

In [ ]:
'Non-negative' if x >= 0 else 'Negative'

In [ ]:
tup=tuple(['foo',[1,2],True])

In [ ]:
tup[1].append(3)

In [ ]:
tup

In [ ]:
tup=4,5,(6,7)

In [ ]:
a,b,(c,d)=tup

In [ ]:
d

In [ ]:
tmp=a

In [ ]:
a=b

In [ ]:
tmp

In [ ]:
b

In [ ]:
a

In [ ]:
tmp

In [ ]:
seq=[(1,2,3),(4,5,6),(7,8,9)]

In [ ]:
for a,b,c in seq:
    print('a={0},b={1},{2}'.format(a,b,c))

In [ ]:
import bisect

In [ ]:
c=[1,2,2,2,3,4,7]

In [ ]:
bisct.bisect(c,2)

In [ ]:
bisect.bisect(c,2)

In [ ]:
bisect.bisect(c,1)

In [ ]:
bisect.bisect(c,0)

In [ ]:
bisect.bisect(c,3)

In [ ]:
bisect.bisect(c,4)

In [ ]:
bisect.bisect(c,5)

In [ ]:
bisect.bisect(c,6)

In [ ]:
c

In [ ]:
bisect.insort(c,5)

In [ ]:
c

In [ ]:
bisect.insort(c,9)

In [ ]:
c

In [ ]:
bisect.insort(c,2)

In [ ]:
c

In [ ]:
some_list=['foo','bar','baz']

In [ ]:
mapping={}

In [ ]:
for i,v in enumerate(some_list):
    mapping[v]=i

In [ ]:
mapping

In [ ]:
seq1=['foo','bar','baz']

In [ ]:
seq2=['one','two','three']

In [ ]:
seq3=[False,True]

In [ ]:
for i,(a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:{1},{2}'.format(i,a,b))

In [ ]:
pitchers=[('Nolan','Ryan'),('Roger','Clemens'),('Schilling','Curt')]

In [ ]:
first_names,laste_names=zip(*pitchers)

In [ ]:
first_names

In [ ]:
last_names

In [ ]:
laste_names

In [ ]:
mapping=dict(zip(range(5),reversed(range(5))))

In [ ]:
mapping

In [ ]:
words=['apple','bat','bar''atom','book']

In [ ]:
by_letter={}

In [ ]:
for word in words:
    letter=word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)

In [ ]:
by_letter

In [ ]:
for word in words:
    letter=word[0]
    by_letter.setdefault(letter,[]).append(word)

In [ ]:
by_letter

In [ ]:
list=['apple','bat','bar','atom','book']
from collections import defaultdict
by_letter=defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [ ]:
from collections import defaultdict
by_letter=defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [ ]:
by_letter={}
from collections import defaultdict
by_letter=defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [ ]:
from collections import defaultdict
by_letter=defaultdict(None)
for word in words:
    by_letter[word[0]].append(word)

In [ ]:
from collections import defaultdict
by_letter=defaultdict(word[0])
for word in words:
    by_letter[word[0]].append(word)

In [ ]:
a={1,2,3,4,5}

In [ ]:
b={3,4,5,6,7,8}

In [ ]:
c=a.copy()

In [ ]:
c|=b

In [ ]:
c

In [ ]:
d=a.copy()

In [ ]:
d&=b

In [ ]:
d

In [ ]:
my_data=[1,2,3,4]

In [ ]:
my_set={tuple(my_data)}

In [ ]:
my_set

In [ ]:
strings=['a','as','bat','car','dove','python']

In [ ]:
[x.upper() for x in strings if len(x)>2]

In [ ]:
turp='a','as','bat','car','dove','python'

In [ ]:
(tu.upper() for tu in turp if len(tu)>2)

In [ ]:
list(tu)

In [ ]:
se={'a','as','bat','car','dove','python'}

In [ ]:
{s.upper() for s in se if len(s)>2}

{len(x) for x in strings}

In [ ]:
map(len,strings)

In [ ]:
set(map(len,strings))

In [ ]:
{val:index for index,val in enumerate(strings)}

In [ ]:
all_data=[['John','Emily','Michael','Mary','Steven'],['Maria','Juan','Javier','Natalia','Pilar']]

In [7]:
names_of_interest=[]
for names in all_data:
    enough_es=[name for name in names if name.count('e')>=2]
    names_of_interest.extend(enough_es)

NameError: name 'all_data' is not defined

In [ ]:
names_of_interest

In [ ]:
[name for names in all_data for name in names if name.count('e')>=2]

In [ ]:
some_tuples=[(1,2,3),(4,5,6),(7,8,9)]

In [ ]:
[x for tup in some_tuples for x in tup]

In [ ]:
[[x for x in tup] for tup in some_tuples]

In [ ]:
def my_function(x,y,z=1.5):
    if z>1:
        return z*(x+y)
    else:
        return z/(x+y)

In [ ]:
my_function(5,6,z=0.7)

In [ ]:
my_function(3.14,7,3.5)

In [ ]:
my_function(10,20)

In [ ]:
def func():
    a=[]
    for i in range(5):
        a.append(i)

In [ ]:
a

In [ ]:
a=[]
def func():
    for i in range(5):
        a.append(i)

In [ ]:
a

In [ ]:
a=None

In [ ]:
def bind_a_variable():
    global a
    a=[]
bind_a_variable()

In [ ]:
print(a)

In [ ]:
def f():
    a=5
    b=6
    c=7
    return a,b,c

In [ ]:
f()

In [ ]:
def f():
    a=5
    b=6
    c=7
    return {'a':a,'b':b,'c':c}

In [ ]:
f()

In [ ]:
states=['   Alabama','Georgia!','Georgia','georgia','FlorIda','south  carolina##','West virginia?']

In [ ]:
import re

def clean_strings(strings):
    result=[]
    for value in strings:
        value=value.strip()
        value=re.sub('[!#?]','',value)
        value=value.title()
        result.append(value)
    return result

In [ ]:
clean_strings(states)

In [ ]:
def remove_punctuation(value):
    return re.sub('[!#?]','',value)

clean_ops=[str.strip,remove_punctuation,str.title]

def clean_strings(strings,ops):
    result=[]
    for value in strings:
        for function in ops:
            value=function(value)
        result.append(value)
    return result

In [ ]:
clean_strings(states,clean_ops)

In [ ]:
for x in map(remove_punctuation,states):
    print(x)

In [ ]:
def apply_to_list(some_list,f):
    return [f(x) for x in some_list]

ints=[4.0,1,5,6]
apply_to_list(ints,lambda x:x*2)

In [ ]:
ints=[4.0,1,5,6]
[x*2 for x in ints]

In [ ]:
strings=['foo','card','bar','aaaa','abab']

In [ ]:
strings.sort(key=lambda x: len(set(list(x))))

In [ ]:
strings

In [ ]:
def add_numbers(x,y):
    return x+y

add_five=lambda y:add_numbers(5,y)

In [ ]:
add_five(2)

In [ ]:
some_dict={'a':`1,'b':2,'c':3}

In [ ]:
some_dict{'a'=1,'b'=2,'c'=3}

In [ ]:
some-dict={'a'=1,'b'=2,'c'=3}

In [ ]:
for key in some_dict:
    print(key)

In [ ]:
some_dict={'a':1,'b':2,'c':3}

In [ ]:
for key in some_dict:
    print(key)

In [ ]:
iter(some_dict)

In [ ]:
list(iter(some_dict))

In [ ]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n**2))
    for i in range(1,n+1):
        yield i**2

In [ ]:
gen=squares()

In [ ]:
gen

In [ ]:
for x in gen :
    print(x,end=' ')

In [ ]:
for x in gen:
    print(x,end=' ')

In [ ]:
gen=(x**2 for x in range(10))
for i in gen:
    print(i,' ')

In [ ]:
sum(x**2 for x in range(10))

In [ ]:
dict((i,i**2) for i in range(5))

In [ ]:
import itertools

In [ ]:
first_letter=lambda x: x[0]

In [8]:
names=['Alan','Adam','Wes','Will','Albert','Steven']

In [9]:
for letter, names in itertools.groupby(names,first_letter):
    print(letter,list(names))

NameError: name 'itertools' is not defined

In [ ]:
for letter,name in itertools.groupby(names,first_letter):
    print(letter,list(name))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [ ]:
attempt_float((1,2))

In [ ]:
%run examples/ipython_bug.py

In [ ]:
f=open(segismundo.txt)

In [ ]:
f=open('segismundo.txt')

In [ ]:
f

In [ ]:
list(f)

In [ ]:
lines=[x.rstrip() for x in open('segismundo.txt')]

In [ ]:
lines

In [ ]:
f.close()

In [ ]:
with open('segismundo.txt') as f:
    lines=[x.rstrip() for x in f]

In [10]:
lines

NameError: name 'lines' is not defined

In [ ]:
import sys

In [ ]:
sys.getdefaultencoding()

In [ ]:
with open('segismundo.txt','w') as handle:
    handle.writelines(x for x in open('segismundo.txt') if len(x)>1)

In [ ]:
with open('segismundo.txt') as f:
    lines=f.readlines()

In [ ]:
lines

In [ ]:
f

In [ ]:
list(f)

In [ ]:
with open('another.txt','w') as handle:
    handle.writelines(x for x in open('segismundo.txt') if len(x)>1

In [ ]:
with open('another.txt','w') as handle:
    handle.writelines(x for x in open('segismundo.txt') if len(x)>1)

In [ ]:
with open('another.txt') as f:
    lines=f.readlines()

In [ ]:
lines

In [ ]:
with open('another.txt') af f:
    chars=f.read(10)

In [ ]:
with open('another.txt') as f:
    chars=f.read(10)

In [ ]:
chars

In [11]:
with open('another.txt','rb') as f:
    data=f.read(10)

In [12]:
data

b'Suena el r'

In [13]:
data.decode('utf8')

'Suena el r'

In [14]:
sink_path='sink.txt'

In [15]:
with open('another.txt') as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())

FileExistsError: [Errno 17] File exists: 'sink.txt'

In [ ]:
with open(sink_path,encoding='iso-8859-1') as f:
    print(f.read(10))

In [ ]:
import numpy as np

my_arr=np.arange(1000000)

In [ ]:
my_list=list(range(1000000))

In [ ]:
%time for_in range(10): my_arr2=my_arr*2

In [ ]:
%time for_in range(10): my_arr2=my_arr * 2

In [ ]:
%time for_in range(10):my_list2=[x*2 for x in my_list]

In [ ]:
help(%time)

In [ ]:
type(%time)

In [ ]:
import numpy as np

In [ ]:
data=np.random.randn(2,3)

In [ ]:
data

In [ ]:
data*10

In [ ]:
data+data

In [ ]:
data.shape

In [ ]:
data.dtype

In [ ]:
data1=[6,7.5,8,0,1]

In [ ]:
arr1=np.array(data1)

In [ ]:
arr1

In [ ]:
data2=[[1,2,3,4],[5,6,7,8]]

In [ ]:
arr2=np.array(data2)

In [ ]:
arr2

In [ ]:
data3=[[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
arr3=np.array(data3)

In [ ]:
arr3

In [ ]:
arr3.ndim

In [ ]:
arr3.shage

In [ ]:
arr3.shape

In [ ]:
arr1.dtype

In [ ]:
arr2.dtype

In [ ]:
arr3.dtype

In [ ]:
np.zeros(10)

In [ ]:
import numpy as np

In [ ]:
np.zeros(10)

In [ ]:
np.zeros((3,6))

In [ ]:
np.empty((2,3,2))

In [ ]:
np.eye(3,3)

In [ ]:
np.full(2,3)

In [ ]:
arr=np.array([1,2,3,4,5])

In [ ]:
arr.dtype

In [ ]:
float_arr=arr.astype(np.float64)

In [ ]:
float_arr.dtype

In [ ]:
arr=np.array([3.7,-1.2,-2.6,0.5,12.9,10.1])

In [ ]:
arr

In [ ]:
arr.astype(np.int32)

In [ ]:
numeric_strings=np.array(['1.25','-9.6','42'],dtype=np.string_)

In [ ]:
numeric_strings.astype(float)

In [ ]:
int_array=np.arange(10)

In [ ]:
calibers=np.array([.22,.270,.357,.380,.44,.50].dtype=np.float64)

In [ ]:
calibers=np.array([.22,.270,.357,.380,.44,.50],dtype=np.float64)

In [ ]:
int_array.astype(calibers.dtype)

In [ ]:
empty_uint32=np.empty(8,dtype='u4')

In [ ]:
empty_unit32

In [ ]:
empty_uint32

In [ ]:
arr=np.array([[1.,2.,3.],[4.,5.,6.]])

In [ ]:
arr

In [ ]:
arr*arr

In [ ]:
arr-arr

In [ ]:
1/arr

In [ ]:
arr**0.5

In [ ]:
arr2=np.array([[0.,4.,1.],[7.,2.,12.]])

In [ ]:
arr2

In [ ]:
arr2>arr

In [ ]:
arr=np.arange(10)

In [ ]:
arr[5:8]=12

In [ ]:
arr

In [ ]:
arr_slice=arr[5:8]

In [ ]:
arr_slice[1]=12345

In [ ]:
arr

In [ ]:
arr2d=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [ ]:
arr2d[2]

In [ ]:
arr2d[0][2]

In [16]:
arr2d[0,0]

NameError: name 'arr2d' is not defined

In [ ]:
arr3d=np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])

In [ ]:
arr3d

In [ ]:
arr3d[0]

In [ ]:
old_values=arr3d[0].copy()

In [ ]:
arr3d[0]=42

In [ ]:
arr3d

In [ ]:
arr3d[0]=old_values

In [ ]:
arr3d

In [ ]:
arr

In [ ]:
arr[1:6]

In [ ]:
arr2d

In [ ]:
arr2d[:2]

In [ ]:
arr2d[:2,1:]

In [ ]:
arr2d[1,:2]

In [ ]:
arr2d[:2,2]

In [ ]:
arr2d[:,:1]

In [ ]:
arr2d[:2,1:]=0

In [ ]:
arr2d

In [ ]:
names=np.array(['Bob','Joe','Will','Bob','Will','Joe','Joe'])

In [ ]:
data=np.random.randn(7,4)

In [ ]:
names

In [ ]:
data

In [ ]:
names=='Bob'

In [17]:
data[names=='Bob']

83

In [18]:
names=='Joe'

False

In [19]:
data[names=='Joe']

83

In [20]:
data[names=='Bob',2:]

TypeError: byte indices must be integers or slices, not tuple

In [ ]:
data[names=='Bob',3]

In [ ]:
names!='Bob'

In [ ]:
data[~(names=='Bob')]

In [ ]:
data[data<0]=0

In [ ]:
data

In [ ]:
data[names!='Joe']=7

In [ ]:
data

In [ ]:
arr=np.empty((8,4))

In [ ]:
for i in range(8):
    arr[i]=i

In [ ]:
arr

In [ ]:
arr[[4,3,0,6]]

In [ ]:
arr[[-3,-5,-7]]

In [ ]:
arr=np.arange(32).reshape((8,4))

In [ ]:
arr

In [ ]:
arr[[1,5,7,2],[0,3,1,2]]

In [ ]:
arr=np.arange(15).reshape((3,5))

In [ ]:
arr.T

In [ ]:
arr=np.random.randn(6,3)

In [ ]:
arr

In [ ]:
np.dot(arr.T,arr)

In [ ]:
arr=np.arange(16).reshape((2,2,4))

In [ ]:
arr

In [ ]:
arr.transpose((1,0,2))

In [ ]:
arr

In [ ]:
arr.swapaxes(1,2)

In [ ]:
arr=np.arange(10)

In [ ]:
arr

In [ ]:
np.sqrt(arr)

In [ ]:
np.exp(arr)

In [ ]:
x=np.random.randn(8)

In [ ]:
y=np.random.randn(8)

In [ ]:
np.maximum(x,y)

In [ ]:
arr=np.random.randn(7)

In [ ]:
import numpy as np

In [ ]:
arr=np.random.randn(7)

In [ ]:
arr

In [ ]:
arr1=np.random.randn(7)*5

In [ ]:
arr1

In [ ]:
remainer,whole_part=np.modf(arr1)

In [ ]:
remainer

In [ ]:
whole_part

In [ ]:
arr1

In [ ]:
np.sqrt(arr1)

In [ ]:
np.sqrt(arr1,arr1)

In [ ]:
arr

In [ ]:
arr1

In [ ]:
points=np.arange(-5,5,0.01)

In [ ]:
points

In [ ]:
xs,ys=np.meshgrid(points,points)

In [ ]:
xs

In [ ]:
yx

In [ ]:
ys

In [ ]:
z=np.sqrt(xs**2+ys**2)

In [ ]:
z

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.imshow(z,cmap=plt.cm.gray);plt.colorbar()

In [ ]:
plt.title("Image plot of $\sqrt{x^2+y^2}$ for a grid of values")

In [ ]:
import matplotlib.pyplot as plt

plt.imshow(z,cmap=plt.cm.gray);plt.colorbar()
plt.title("Image plot of $\sqrt{x^2+y^2}$ for a grid of values")

In [ ]:
xarr=np.array([1.1,1.2,1.3,1.4,1.5])

In [ ]:
yarr=np.array([2.1,2.2,2.3,2.4,2.5])

In [ ]:
cond=np.array([True,False,True,True,False])

In [ ]:
result=[(x if c else y) for x,y,c in zip(xarr,yarr,cond)]

In [ ]:
result

In [ ]:
result=np.where(cond,xarr,yarr)

In [ ]:
result

In [ ]:
arr=np.random.randn(4,4)

In [ ]:
arr

In [ ]:
arr>0

In [ ]:
np.where(arr>0,2,-2)

In [ ]:
np.where(arr>0,2,arr)

In [ ]:
arr=np.random.randn(5,4)

In [ ]:
arr

In [ ]:
arr.mean()

In [ ]:
np.mean(arr)

In [ ]:
arr.sum()

In [ ]:
arr.mean(axis=1)

In [ ]:
arr.sum(axis=0)

In [ ]:
arr=np.array([0,1,2,3,4,5,6,7])

In [ ]:
arr.cumsum()

In [ ]:
arr=np.array([[0,1,2],[3,4,5],[6,7,8]])

In [ ]:
arr

In [ ]:
arr.cumsum(axis=0)

In [ ]:
arr.cumprod(axis=1)

In [ ]:
arr=np.random.randn(100)

In [ ]:
import numpy as np

In [ ]:
arr=np.random.randn(100)

In [ ]:
arr

In [ ]:
(arrr>0).sum()

In [ ]:
(arr>0).sum()

In [ ]:
bools=np.array([False,False,True,False])

In [ ]:
bools.any()

In [ ]:
bools.all()

In [ ]:
arr=np.random.randn(6)

In [ ]:
arr

In [ ]:
arr.sort()

In [ ]:
arr

In [ ]:
arr=np.random.randn(5,3)

In [ ]:
arr

In [ ]:
arr.sort(1)

In [ ]:
arr

In [ ]:
arr.sort(0)

In [ ]:
arr

In [ ]:
large_arr=np.random.randn(1000)

In [ ]:
large_arr.sort()

In [ ]:
large_arr[int(0.05*len(large_arr))]

In [ ]:
names=np.array(['Bob','Joe','Will','Joe','Bob','Will','Joe'])

In [ ]:
np.unique(names)

In [ ]:
ints=np.array([3,3,3,2,2,1,1,4,4])

In [ ]:
np.unique(ints)

In [ ]:
sorted(set(names))

In [21]:
values=np.array([6,0,0,3,2,5,6])

NameError: name 'np' is not defined

In [ ]:
np.inld(values,[2,3,6])

In [ ]:
np.in1d(values,[2,3,6])

In [ ]:
arr=np.arange(10)

In [ ]:
np.save('some_array',arr)

In [ ]:
np.load('some_array.npy')

In [ ]:
np.savez('array_archive.npz',a=arr,b=arr)

In [ ]:
arch=np.load('array_archive.npz')

In [ ]:
arch['b']

In [ ]:
np.savez_compressed('arrays_compressed.npz',a=arr,b=arr)

In [ ]:
x=np.array([[1,2,3],[4,5,6]])

In [ ]:
import numpy as np

In [ ]:
x=np.array([[1,2,3],[4,5,6]])

In [ ]:
y=np.array([[6,23],[-1,7],[8,9]])

In [ ]:
x

In [ ]:
y

In [ ]:
x.dot(y)

In [ ]:
y.dot(x)

In [ ]:
np.dot(x,y)

In [ ]:
np.dot(x,np.ones(3))

In [ ]:
np.ones(3)

In [ ]:
x@np.ones(3)

In [ ]:
from numpy.linalg import inv,qr

In [ ]:
x=np.random.randn(5,5)

In [ ]:
x

In [ ]:
x.T

In [ ]:
mat=x.T.dot(x)

In [ ]:
mat

In [ ]:
inv(mat)

In [ ]:
mat.dot(inv(mat))

In [ ]:
q,r=qr(mat)

In [ ]:
r

In [ ]:
q

In [ ]:
np.diag(q)

In [22]:
np.trace(q)

NameError: name 'np' is not defined

In [ ]:
np.det(q)

In [ ]:
np.inv(q)

In [ ]:
inv(q)

In [ ]:
det(q)

In [ ]:
q.dot(inv(q))

In [ ]:
q.T

In [ ]:
samples=np.random.normal(size=(4,4))

In [ ]:
samples

In [ ]:
np.trace(samples)

In [ ]:
from random import normalvariate

In [ ]:
N=1000000

In [ ]:
%timeit samples=[normalvariate(0,1) for _ in range(N)]

In [23]:
%timeit np.random.normal(size=N)

NameError: name 'np' is not defined

In [ ]:
np.random.seed(1234)

In [ ]:
rng=np.random.RandomState(1234)

In [ ]:
rng.randn(10)

In [ ]:
np.permutation(8)

In [ ]:
np.random.permutation(8)

In [ ]:
np.random.shuffle(9)

In [ ]:
m=np.random.shuffle([3,5,9,8,4,1,7])

m

In [ ]:
m

In [ ]:
np.random.rand(9)

In [ ]:
np.random.randint(12)

In [ ]:
np.random.randint(-3,14)

In [ ]:
import random
position=0
walk=[position]
steps=1000
for i in range(steps):
    step=1 if random.randint(0,1) else -1
    position += step
    walk.append(position)

In [ ]:
plt.plot(walk[:100])

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(walk[:100])

In [ ]:
nsteps=1000

In [24]:
draws=np.random.randint(0,2,size=nsteps)

NameError: name 'np' is not defined

In [ ]:
steps=np.where(draws>0,1,-1)

In [ ]:
walk=steps.cumsum()

In [ ]:
walk.min()

In [ ]:
walk.max()

In [ ]:
(np.abs(walk)>=10).argmax()

In [25]:
import numpy as np

In [26]:
import matplotlib.pyplot as plt

In [27]:
x=np.range(5)

AttributeError: module 'numpy' has no attribute 'range'

In [28]:
x=np.arange(5)

In [29]:
x

array([0, 1, 2, 3, 4])

In [30]:
arr=np.random.randn(3,6)

In [31]:
arr

array([[-0.09605823,  0.94784126,  0.20229451, -0.93069591, -0.19187552,
        -1.28590155],
       [ 0.71769287, -0.45120814, -0.67962751, -1.18417976, -2.60504913,
         0.89411385],
       [ 0.58917694, -0.31231114, -0.59080822, -2.78210224,  0.15207478,
        -1.09214017]])

In [32]:
nwalks=5000

In [33]:
nsteps=1000

In [34]:
draws=np.random.randint(0,2,size=(nwalks,nsteps))

In [35]:
steps=np.where(draws>0,1,-1)

In [36]:
walks=steps.cumsum(1)

In [37]:
walks

array([[ -1,   0,  -1, ...,   2,   3,   2],
       [  1,   2,   1, ..., -30, -29, -30],
       [  1,   0,   1, ...,   6,   7,   6],
       ...,
       [ -1,   0,  -1, ...,  34,  33,  32],
       [ -1,  -2,  -3, ...,  16,  15,  16],
       [  1,   0,   1, ...,  44,  45,  46]])

In [38]:
walks.max()

118

In [39]:
walks.min()

-120

In [40]:
hits30=(np.abs(walks)>=30).any(1)

In [41]:
hits30

array([ True,  True, False, ...,  True,  True,  True])

In [42]:
hits30.sum()

3423

In [43]:
crossing_times=(np.abs(walks[hits30])>=30).argmax(1)

In [44]:
crossing_times.mean()

504.0137306456325

In [45]:
steps=np.random.normal(loc=0,scale=0.25,size=(nwalks,nsteps))

In [46]:
walks

array([[ -1,   0,  -1, ...,   2,   3,   2],
       [  1,   2,   1, ..., -30, -29, -30],
       [  1,   0,   1, ...,   6,   7,   6],
       ...,
       [ -1,   0,  -1, ...,  34,  33,  32],
       [ -1,  -2,  -3, ...,  16,  15,  16],
       [  1,   0,   1, ...,  44,  45,  46]])

In [47]:
walks.max()

118

In [48]:
walks.min()

-120

In [49]:
crossing_times.mean()

504.0137306456325

In [50]:
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [51]:
from pandas import Series, DataFrame

In [52]:
obj=pd.Series([4,7,-5,3])

In [53]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [54]:
obj.values

array([ 4,  7, -5,  3])

In [55]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [56]:
obj2=pd.Series([4,7,-5,3],index=['d','b','a','c'])

In [57]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [58]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [59]:
obj2['a']

-5

In [60]:
obj2['c','a','d']

KeyError: ('c', 'a', 'd')

In [61]:
obj2[['a','c','d']]

a   -5
c    3
d    4
dtype: int64

In [62]:
obj2[obj2>0]

d    4
b    7
c    3
dtype: int64

In [63]:
obj2*2

d     8
b    14
a   -10
c     6
dtype: int64

In [64]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [65]:
'b' in obj2

True

In [66]:
'e' in obj2

False

In [67]:
sdata={'Ohio':35000,'Texas':71000,'Oregon':16000,'Utah':5000}

In [68]:
obj3=pd.Series(sdata)

In [69]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [70]:
states=['California','Ohio','Oregon','Texas']

In [71]:
obj4=pd.Series(sdata,index=states)

In [72]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [73]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [74]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [75]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [76]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [77]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [78]:
obj3+obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [ ]:
exit()

In [1]:
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
from pandas import Series,DataFrame

In [3]:
obj4.name='population'

NameError: name 'obj4' is not defined

In [4]:
sdata={'Ohio':35000,'Texas':71000,'Oregon':16000,'Utah':5000}

In [5]:
states=['California','Ohio','Oregon','Texas']

In [6]:
obj4=pd.Series(sdata,index=states)

In [7]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [8]:
obj4.name='population'

In [9]:
obj4.index.name='state'

In [10]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [11]:
obj

NameError: name 'obj' is not defined

In [12]:
data={'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],'year':[2000,2001,2002,2001,2002,2003],'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}

In [13]:
frame=pd.DataFrame(data)

In [14]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [15]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [16]:
pd.DataFrame(data,columns=['year','state','pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [17]:
frame2=pd.DataFrame(data,columns=['year','state','pop','debt'],index=['one','two','three','four','five','six'])

In [18]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [19]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [20]:
frame2['state']

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [21]:
frame2.year

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

In [22]:
frame2.loc['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [23]:
frame2['debt']=16.5

In [24]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5

In [25]:
frame2['debt']=np.arange(6.)

NameError: name 'np' is not defined

In [26]:
import numpy as np

In [27]:
frame2['debt']=np.arange(6.)

In [28]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0

In [29]:
val=pd.Series([-1.2,-1.5,-1.7],index=['two','four','five'])

In [30]:
frame2['debt']=val

In [31]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [1]:
import numpy as np

In [2]:
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
from pandas import Series,DataFrame

In [4]:
frame2['eastern']=frame2.state=='Ohio'

NameError: name 'frame2' is not defined

In [5]:
data={'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],'year':[2000,2001,2002,2001,2002,2003],'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}

In [6]:
frame2=pd.DataFrame(data,columns=['year','state','pop','debt'],index=['one','two','three','four','five','six'])

In [7]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [8]:
frame2['eastern']=frame2.state=='Ohio'

In [9]:
frame2

       year   state  pop debt  eastern
one    2000    Ohio  1.5  NaN     True
two    2001    Ohio  1.7  NaN     True
three  2002    Ohio  3.6  NaN     True
four   2001  Nevada  2.4  NaN    False
five   2002  Nevada  2.9  NaN    False
six    2003  Nevada  3.2  NaN    False

In [10]:
del frame2['eastern']

In [11]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [12]:
pop={'Nevada':{2001:2.4,2002:2.9},'Ohio':{2000:1.5,2001:1.7,2002:3.6}}

In [13]:
frame3=pd.DataFrame(pop)

In [14]:
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [15]:
frame3.T

        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio     1.5   1.7   3.6

In [16]:
pd.DataFrame(pop,index=[2001,2002,2003])

AttributeError: 'list' object has no attribute 'astype'

In [17]:
pd.DataFrame(pop,index=[2001,2002,2003])

AttributeError: 'list' object has no attribute 'astype'

In [18]:
pd.DataFrame(pop)

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [19]:
pd.DataFrame(pop,index=['2001','2002','2003'])

AttributeError: 'list' object has no attribute 'astype'

In [20]:
pd.DataFrame(pop,index=['one','two','three'])

AttributeError: 'list' object has no attribute 'astype'

In [1]:
import numpy as np

In [2]:
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
from pandas import Series,DataFrame

In [4]:
data={'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],'year':[2000,2001,2002,2001,2002,2003],'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}

In [5]:
frame2=pd.DataFrame(data,columns=['year','state','pop','debt'],index=['one','two','three','four','five','six'])

In [6]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [7]:
pop={'Nevada':{2001:2.4,2002:2.9},'Ohio':{2000:1.5,2001:1.7,2002:3.6}}

In [8]:
frame3=pd.DataFrame(pop)

In [9]:
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [10]:
frame4=pd.DataFrame(pop,index=[2001,2002,2003])

AttributeError: 'list' object has no attribute 'astype'

In [1]:
import numpy as np

In [2]:
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
from pandas import Series,DataFrame

In [4]:
pop={'Nevada':{2001:2.4,2002:2.9},'Ohio':{2000:1.5,2001:1.7,2002:3.6}}

In [5]:
frame3=pd.DataFrame(pop)

In [6]:
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [7]:
pdata={'Ohio':frame3['Ohio'][:-1],'Nevada':frame3['Nevada'][:2]}

In [8]:
pd.DataFrame(pdata)

      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4

In [9]:
frame3.index.name='year';frame3.columns.name='state'

In [10]:
frame3

state  Nevada  Ohio
year
2000      NaN   1.5
2001      2.4   1.7
2002      2.9   3.6

In [11]:
frame3.values

array([[nan, 1.5],
       [2.4, 1.7],
       [2.9, 3.6]])

In [12]:
data={'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],'year':[2000,2001,2002,2001,2002,2003],'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}

In [13]:
frame2=pd.DataFrame(data,columns=['year','state','pop','debt'],index=['one','two','three','four','five','six'])

In [14]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [15]:
frame2.values

array([[2000, 'Ohio', 1.5, nan],
       [2001, 'Ohio', 1.7, nan],
       [2002, 'Ohio', 3.6, nan],
       [2001, 'Nevada', 2.4, nan],
       [2002, 'Nevada', 2.9, nan],
       [2003, 'Nevada', 3.2, nan]], dtype=object)

In [16]:
obj=pd.Series(range(3),index=['a','b','c'])

In [17]:
obj

a    0
b    1
c    2
dtype: int64

In [18]:
index=obj.index

In [19]:
index

Index(['a', 'b', 'c'], dtype='object')

In [20]:
index[1:]

Index(['b', 'c'], dtype='object')

In [21]:
index[1]='d'

TypeError: Index does not support mutable operations

In [22]:
labels=pd.Index(np.arange(3))

In [23]:
labels

Int64Index([0, 1, 2], dtype='int64')

In [24]:
obj2=pd.Series([1.5,-2.5,0],index=labels)

In [25]:
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [26]:
obj2.index is labels

True

In [27]:
frame3

state  Nevada  Ohio
year
2000      NaN   1.5
2001      2.4   1.7
2002      2.9   3.6

In [28]:
frame3.columns

Index(['Nevada', 'Ohio'], dtype='object', name='state')

In [29]:
'Ohio' in frame3.columns

True

In [30]:
2003 in frame3.index

False

In [31]:
dup_labels=pd.Index(['foo','foo','bar','bar'])

In [32]:
dup_labels

Index(['foo', 'foo', 'bar', 'bar'], dtype='object')

In [33]:
obj=pd.Series([4.5,7.2,-5.3,3.6],index=['d','b','a','c'])

In [34]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [35]:
obj2=obj.reindex(['a','b','c','d','e'])

In [36]:
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [37]:
obj3=pd.Series(['blue','purple','yellow'],index=[0,2,4])

In [38]:
obj3

0      blue
2    purple
4    yellow
dtype: object

In [39]:
obj3.reindex(range(6),method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [40]:
frame=pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','c','d'],columns=['Ohio','Texas','California'])

In [41]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [42]:
frame2=frame.reindex(['a','b','c','d'])

In [43]:
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [44]:
states=['Texas','Utah','California']

In [45]:
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [46]:
obj=pd.Series(np.arange(5.),index=['a','b','c','d','e'])

In [47]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [48]:
new_obj=obj.drop('c')

In [49]:
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [50]:
obj.drop(['d','c'])

a    0.0
b    1.0
e    4.0
dtype: float64

In [51]:
data=pd.DataFrame(np.arange(16).reshape((4,4)),index=['Ohio','Colorado','Utah','New York'],columns=['one','two','three','four'])

In [52]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [53]:
data.drop('Colorado','Ohio')

ValueError: No axis named Ohio for object type <class 'pandas.core.frame.DataFrame'>

In [54]:
data.drop(['Colorado','Ohio'])

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [55]:
data.drop('two',axis=1)

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [56]:
data.drop(['two','four'],axis='columns')

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

In [57]:
obj.drop('c',inplace=True)

In [58]:
obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [1]:
import numpy as np

In [2]:
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
from pandas import Series,DataFrame

In [4]:
obj=pd.Series(np.arange(4.),index=['a','b','c','d'])

In [5]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [6]:
obj['b']

1.0

In [7]:
obj[1]

1.0

In [8]:
obj[2:4]

c    2.0
d    3.0
dtype: float64

In [9]:
obj['b','a','d']

KeyError: ('b', 'a', 'd')

In [10]:
obj[['b','a','d']]

b    1.0
a    0.0
d    3.0
dtype: float64

In [11]:
obj[[1,3]]

b    1.0
d    3.0
dtype: float64

In [12]:
obj[obj<2]

a    0.0
b    1.0
dtype: float64

In [13]:
obj['b':'c']

b    1.0
c    2.0
dtype: float64

In [14]:
obj['b':'c']=5

In [15]:
obj

a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64

In [16]:
data=pd.DataFrame(np.arange(16).reshape(4,4),index=['Ohio','Colorado','Utah','New York'],columns=['one','two','three','four'])

In [17]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [18]:
data['two']

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int64

In [19]:
data[['three','one']]

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

In [20]:
data[['two','four','one']]

          two  four  one
Ohio        1     3    0
Colorado    5     7    4
Utah        9    11    8
New York   13    15   12

In [21]:
data[:2]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [22]:
data[data['three']>5]

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [23]:
data[data['three']>10]

          one  two  three  four
New York   12   13     14    15

In [24]:
data<5

            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False

In [25]:
data[data<5]=0

In [26]:
data

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [27]:
data.loc['Colorado',['two','three']]

two      5
three    6
Name: Colorado, dtype: int64

In [28]:
data.iloc[2,[3,0,1]]

four    11
one      8
two      9
Name: Utah, dtype: int64

In [29]:
data.iloc[2]

one       8
two       9
three    10
four     11
Name: Utah, dtype: int64

In [30]:
data.iloc[[1,2],[3,0,1]]

          four  one  two
Colorado     7    0    5
Utah        11    8    9

In [31]:
data.loc[:'Utah','two']

Ohio        0
Colorado    5
Utah        9
Name: two, dtype: int64

In [32]:
data.iloc[:,:3][data.three>5]

          one  two  three
Colorado    0    5      6
Utah        8    9     10
New York   12   13     14

In [33]:
ser=pd.Series(np.arange(3.))

In [34]:
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [1]:
import numpy as np

In [2]:
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
from pandas import Series,DataFrame

In [4]:
pd.Series(np.arange(3.))

0    0.0
1    1.0
2    2.0
dtype: float64

In [5]:
ser2=pd.Series(np.arange(3.),index=['a','b','c'])

In [6]:
ser2

a    0.0
b    1.0
c    2.0
dtype: float64

In [7]:
ser2[-1]

2.0

In [8]:
ser[:1]

NameError: name 'ser' is not defined

In [9]:
ser2[:1]

a    0.0
dtype: float64

In [10]:
ser2.loc[:1]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [11]:
ser=pd.Series(np.arange(3.))

In [12]:
ser.loc[:1]

0    0.0
1    1.0
dtype: float64

In [13]:
ser.iloc[:1]

0    0.0
dtype: float64

In [14]:
ser2.iloc[:1]

a    0.0
dtype: float64

In [15]:
s1=pd.Series([7.3,-2.5,3.4,1.5],index=['a','c','d','e'])

In [16]:
s2=pd.Series([-2.1,3.6,-1.5,4,3.1],index=['a','c','e','f','g'])

In [17]:
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [18]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [19]:
s1+s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [20]:
df1=pd.DataFrame(np.arange(9.).reshape((3,3)),columns=list('bcd'),index=['Ohio','Texas','Colorado'])

In [21]:
df2=pd.DataFrame(np.arange(12.).reshape((4,3)),columns=list('bde'),index=['Utah','Ohio','Texas','Oregon'])

In [22]:
df1

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0

In [23]:
df2

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [24]:
df1+df2

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

In [25]:
df1=pd.DataFrame({'A':[1,2]})

In [26]:
df2=pd.DataFrame({'B':[3,4]})

In [27]:
df1

   A
0  1
1  2

In [28]:
df2

   B
0  3
1  4

In [29]:
df1-df2

    A   B
0 NaN NaN
1 NaN NaN

In [30]:
df1=pd.DataFrame(np.arange(12.).reshape((3,4)),columns=list('abcd'))

In [31]:
df2=pd.DataFrame(np.arange(20.).reshape((4,5)),columns=list('abcde'))

In [32]:
df2.loc[1,'b']=np.nan

In [33]:
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [34]:
df2

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [35]:
df1+df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [36]:
df1.add(df2,fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [37]:
1/df1

          a         b         c         d
0       inf  1.000000  0.500000  0.333333
1  0.250000  0.200000  0.166667  0.142857
2  0.125000  0.111111  0.100000  0.090909

In [38]:
df1.rdiv(1)

          a         b         c         d
0       inf  1.000000  0.500000  0.333333
1  0.250000  0.200000  0.166667  0.142857
2  0.125000  0.111111  0.100000  0.090909

In [39]:
df1.reindex(columns=df2.columns,fill_value=0)

     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0

In [40]:
arr=np.arange(12.).reshape((3,4))

In [41]:
arr

array([[ 0.,  1.,  2.,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11.]])

In [42]:
arr[0]

array([0., 1., 2., 3.])

In [43]:
arr-arr[0]

array([[0., 0., 0., 0.],
       [4., 4., 4., 4.],
       [8., 8., 8., 8.]])

In [44]:
frame=pd.DataFrame(np.arange(12.).reshape((4,3)),columns=list('bde'),index=['Utah','Ohio','Texas','Oregon'])

In [45]:
series=frame.iloc[0]

In [46]:
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [47]:
series

b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64

In [48]:
frame-series

          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0

In [49]:
series2=pd.Series(range(3),index=['b','e','f'])

series2

In [51]:
frame+series2

          b   d     e   f
Utah    0.0 NaN   3.0 NaN
Ohio    3.0 NaN   6.0 NaN
Texas   6.0 NaN   9.0 NaN
Oregon  9.0 NaN  12.0 NaN

In [52]:
series3=frame['d']

In [53]:
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [54]:
series3

Utah       1.0
Ohio       4.0
Texas      7.0
Oregon    10.0
Name: d, dtype: float64

In [55]:
frame.sub(series3,axis='index')

          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0

In [56]:
frame=pd.DataFrame(np.random.randn(4,3),columns=list('bde'),index=['Utah','Ohio','Texas','Oregon'])

In [57]:
frame

               b         d         e
Utah   -1.340418  2.297039 -0.907358
Ohio   -0.318286  0.005838 -0.338314
Texas  -2.432061 -0.075352  1.625554
Oregon -0.853792 -0.407683  2.020869

In [58]:
np.abs(frame)

               b         d         e
Utah    1.340418  2.297039  0.907358
Ohio    0.318286  0.005838  0.338314
Texas   2.432061  0.075352  1.625554
Oregon  0.853792  0.407683  2.020869

In [59]:
f=lambda x: x.max()-x.min()

In [60]:
frame.apply(f)

b    2.113775
d    2.704723
e    2.928227
dtype: float64

In [61]:
frame.apply(f,axis='columns')

Utah      3.637457
Ohio      0.344152
Texas     4.057615
Oregon    2.874662
dtype: float64

In [62]:
def f(x):
    return pd.Series([x.min(),x.max()],index=['min','max'])

In [63]:
frame.apply(f)

            b         d         e
min -2.432061 -0.407683 -0.907358
max -0.318286  2.297039  2.020869

In [64]:
format=lambda x: '%.2f' % x

In [65]:
frame.applymap(format)

            b      d      e
Utah    -1.34   2.30  -0.91
Ohio    -0.32   0.01  -0.34
Texas   -2.43  -0.08   1.63
Oregon  -0.85  -0.41   2.02

In [66]:
frame['e'].map(format)

Utah      -0.91
Ohio      -0.34
Texas      1.63
Oregon     2.02
Name: e, dtype: object

In [67]:
obj=pd.Series(range(4),index=['d','a','b','c'])

In [68]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [69]:
frame=pd.DataFrame(np.arange(8).reshape((2,4)),index=['three','one'],columns=['d','a','b','c'])

In [70]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [71]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [72]:
frame.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [73]:
obj=pd.Series([4,7,-3,2])

In [74]:
obj

0    4
1    7
2   -3
3    2
dtype: int64

In [75]:
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [76]:
obj=pd.Series([4,np.nan,7,np.nan,-3,2])

In [77]:
obj

0    4.0
1    NaN
2    7.0
3    NaN
4   -3.0
5    2.0
dtype: float64

In [78]:
obj.sort_values()

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

In [79]:
frame=pd.DataFrame({'b':[4,7,-3,2],'a':[0,1,0,1]})

In [80]:
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [81]:
frame.sort_values(by='b')

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [82]:
frame.sort_values(by=['a','b'])

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [83]:
obj=pd.Series([7,-5,7,4,2,0,4])

In [84]:
obj

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

In [85]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [86]:
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [87]:
obj.rank(ascending=False,method='max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [88]:
frame=pd.DataFrame({'b':[4.3,7,-3,2],'a':[0,1,0,1],'c':[-2,5,8,-2.5]})

In [89]:
frame

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

In [90]:
frame.rank(axis='columns')

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

In [1]:
obj=pd.Series(range(5),index=['a','a','b','b','c'])

NameError: name 'pd' is not defined

In [2]:
import numpy as np

In [3]:
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [4]:
from pandas import Series,DataFrame

In [5]:
obj=pd.Series(range(5),index=['a','a','b','b','c'])

In [6]:
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [7]:
obj.index.is_unique

False

In [8]:
obj['a']

a    0
a    1
dtype: int64

In [9]:
obj['c']

4

In [10]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','a','b','b'])

In [11]:
df

          0         1         2
a  2.280351  0.675372  1.879546
a -1.427490 -1.495006 -0.345029
b -1.791278  0.248369 -1.078661
b -0.558453  0.630810  0.315201

In [12]:
df.loc['b']

          0         1         2
b -1.791278  0.248369 -1.078661
b -0.558453  0.630810  0.315201

In [13]:
df=pd.DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],index=['a','b','c','d'],columns=['one','two'])

In [14]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [15]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [16]:
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [17]:
df.mean(axis='columns',skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [18]:
df.idxmax()

one    b
two    d
dtype: object

In [19]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [20]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [21]:
obj=pd.Series(['a','a','b','c']*4)

In [22]:
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [23]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [24]:
conda install pandas-datareader

SyntaxError: invalid syntax (<ipython-input-24-990bbb6ee910>, line 1)

In [25]:
import pandas-datareader.data as web

SyntaxError: invalid syntax (<ipython-input-25-7d4a2b903a71>, line 1)

In [26]:
pip install pandas-datareader

The following command must be run outside of the IPython shell:

    $ pip install pandas-datareader

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [1]:
import numpy as np

In [2]:
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
from pandas import Series,DataFrame

In [4]:
obj=pd.Series(['c','a','d','a','a','b','b','c','c'])

In [5]:
uniques=obj.unique()

In [6]:
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [7]:
uniques.sort()

In [8]:
obj.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

In [1]:
import numpy as np

In [2]:
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
from pandas import Series,DataFrame

In [4]:
obj=pd.Series(['c','a','d','a','a','b','b','c','c'])

In [5]:
uniques=obj.unique()

In [6]:
uniques.sort()

In [7]:
uniques

array(['a', 'b', 'c', 'd'], dtype=object)

In [ ]:
obj.value_counts()

In [ ]:
pd.value_counts(obj.values,sort=False)

In [1]:
obj.value_counts()

NameError: name 'obj' is not defined

In [2]:
obj=pd.Series(['c','a','d','a','a','b','b','c','c'])

NameError: name 'pd' is not defined

In [3]:
import numpy as np

In [ ]:
import pandas as pd

In [1]:
import numpy as np

In [2]:
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
from pandas import Series,DataFrame

In [4]:
obj=pd.Series(['c','a','d','a','a','b','b','c','c'])

In [5]:
uniques=obj.unique()

In [6]:
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [7]:
uniques.sort()

In [8]:
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [9]:
pd.value_counts(obj.values,sort=False)

a    3
d    1
b    2
c    3
dtype: int64

In [10]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [11]:
mask=obj.isin(['b','c'])

In [12]:
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [13]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [14]:
to_match=pd.Series(['c','a','b','b','c','a'])

In [15]:
unique_vals=pd.Series(['c','b','a'])

In [23]:
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2])

In [24]:
!cat examples/ex1.csv

cat: examples/ex1.csv: No such file or directory

In [25]:
!cat examples/ex1.csv
a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

cat: examples/ex1.csv: No such file or directory

NameError: name 'a' is not defined

In [26]:
df=pd.read_csv('examples/ex1.csv')

FileNotFoundError: File b'examples/ex1.csv' does not exist

In [27]:
!cat examples/ex1.csv
a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

cat: examples/ex1.csv: No such file or directory

NameError: name 'a' is not defined

In [28]:
!cat examples/ex1.csv

cat: examples/ex1.csv: No such file or directory

In [1]:
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
pd.read_csv('ex4.csv',skipprows=[0,2,3])

TypeError: parser_f() got an unexpected keyword argument 'skipprows'

In [3]:
pd.read_csv('ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
cat ex4.csv

#hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers,anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [5]:
!cat ex4.csv

#hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers,anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [1]:
ct ex5.csv

SyntaxError: invalid syntax (<ipython-input-1-7c6e1b37fc8f>, line 1)

In [2]:
cat ex5.csv

something,a,b,c,d,message
one,1,2,4,5,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [3]:
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [4]:
result=pd.read_csv('ex5.csv')

In [5]:
result

  something  a   b     c   d message
0       one  1   2   4.0   5     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [6]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [7]:
result=pd.read_csv('ex5.csv',na_values=[NULL])

NameError: name 'NULL' is not defined

In [8]:
result=pd.read_csv('ex5,csv',na_values=['NULL'])

FileNotFoundError: File b'ex5,csv' does not exist

In [9]:
result=pd.read_csv('ex5.csv',na_values=['NULL'])

In [10]:
result

  something  a   b     c   d message
0       one  1   2   4.0   5     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [11]:
sentinels={'message':['foo','NA'],'something':['two']}

In [12]:
pd.read_csv('ex5.csv',na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   4.0   5     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [13]:
pd.options.display.max_rows=10

In [14]:
result=pd.read_csv('ex6.csv')

ParserError: Error tokenizing data. C error: Expected 2 fields in line 4, saw 6

In [15]:
import numpy as np

In [16]:
from pandas import Series,DataFrame

In [17]:
ok=pd.DataFrame(np.random.randn(20,4),columns=['one','two','three','four'])

In [18]:
ok

         one       two     three      four
0  -0.651647 -0.884234  1.129314 -1.475922
1  -1.049134 -0.329225  0.896710  0.570432
2   1.207901 -0.292628 -1.213556 -0.748125
3   1.005872  1.559291 -0.089014 -2.552665
4   1.465832  1.622837  1.118925  1.093328
..       ...       ...       ...       ...
15  2.278523  0.568910 -0.061671 -0.349983
16  1.156258 -2.194599 -0.991569  0.704535
17 -1.124570 -0.029264 -0.716015  1.005462
18 -0.285307  0.273368 -0.073957  1.145196
19  1.392788  0.208465  0.205070  1.085621

[20 rows x 4 columns]

In [19]:
result=pd.read_csv('ex6.csv')

In [20]:
pd.read_csv('ex6.csv',nrows=5)

                           one \ttwo \tthree \tfour
0  0 \t-0.651647 \t-0.884234 \t1.129314 \t-1.475922
1   1 \t-1.049134 \t-0.329225 \t0.896710 \t0.570432
2  2 \t1.207901 \t-0.292628 \t-1.213556 \t-0.748125
3   3 \t1.005872 \t1.559291 \t-0.089014 \t-2.552665
4     4 \t1.465832 \t1.622837 \t1.118925 \t1.093328

In [21]:
chunker=pd.read_csv('ex6.csv',chunksize=10)

In [22]:
chunker

In [23]:
chunker=pd.read_csv('ex6.csv',chunksize=10)

tot=pd.Series([])
for piece in chunker:
    tot=tot.add(piece['one'].value_counts(),fill_value=0)
    
tot=tot.sort_values(ascending=False)

KeyError: 'one'

In [24]:
chunker=pd.read_csv('ex6.csv',chunksize=10)

tot=pd.Series([])
for piece in chunker:
    tot=tot.add(piece['key'].value_counts(),fill_value=0)
    
tot=tot.sort_values(ascending=False)

KeyError: 'key'

In [25]:
ok=pd.DataFrame(np.random.randn(20,4),columns=['one','two','three','four'])

In [26]:
ok

         one       two     three      four
0   1.358876  0.213626  1.285768 -1.820707
1  -0.183826  1.079063  1.057998 -0.990994
2  -1.676908  1.164285 -0.055773  1.028462
3   1.115764  0.041017  0.359162  0.494883
4   0.943480  0.794893 -0.471225  1.063314
..       ...       ...       ...       ...
15  0.519565 -0.553663  0.562182 -1.191224
16 -1.212137 -2.140113 -0.017224 -1.026209
17  2.801264 -0.274982 -0.433784 -1.362708
18 -0.950731  0.696738  1.071900  1.126872
19  0.898024  1.127845  0.615035 -0.924035

[20 rows x 4 columns]

In [27]:
pd.read_csv('ex6.csv',nrows=5)

                    one \ttwo \tthree \tfour     key
0  0 \t-0.651647 \t-0.884234 \t1.129314 \t-1.4759...
1  1 \t-1.049134 \t-0.329225 \t0.896710 \t0.57043...
2  2 \t1.207901 \t-0.292628 \t-1.213556 \t-0.7481...
3  3 \t1.005872 \t1.559291 \t-0.089014 \t-2.55266...
4  4 \t1.465832 \t1.622837 \t1.118925 \t1.093328   Q

In [28]:
chunker=pd.read_csv('ex6.csv',chunksize=10)

tot=pd.Series([])
for piece in chunker:
    tot=tot.add(piece['key'].value_counts(),fill_value=0)
    
tot=tot.sort_values(ascending=False)

KeyError: 'key'

In [29]:
ok=pd.read_csv('ex6.csv')

In [30]:
ok

         one       two     three      four   key
0  -0.651640 -0.884234  1.129314 -1.475922  L \t
1  -1.049134 -0.329225  0.896710  0.570432     B
2   1.207901 -0.292628 -1.213556 -0.748125     G
3   1.005872  1.559291 -0.089014 -2.552665     R
4   1.465832  1.622837  1.118925  1.093328     Q
..       ...       ...       ...       ...   ...
15  0.519565 -0.553663  0.562182 -1.191224     N
16 -1.212137 -2.140113 -0.017224 -1.026209     U
17  2.801264 -0.274982 -0.433784 -1.362708     P
18 -0.950731  0.696738  1.071900  1.126872     V
19  0.898024  1.127845  0.615035 -0.924035     H

[20 rows x 5 columns]

In [31]:
ok=pd.read_csv('ex6.csv')

In [32]:
ok

         one       two     three      four  key
0  -0.651640 -0.884234  1.129314 -1.475922  L\t
1  -1.049134 -0.329225  0.896710  0.570432    B
2   1.207901 -0.292628 -1.213556 -0.748125    G
3   1.005872  1.559291 -0.089014 -2.552665    R
4   1.465832  1.622837  1.118925  1.093328    Q
..       ...       ...       ...       ...  ...
15  0.519565 -0.553663  0.562182 -1.191224    N
16 -1.212137 -2.140113 -0.017224 -1.026209    U
17  2.801264 -0.274982 -0.433784 -1.362708    P
18 -0.950731  0.696738  1.071900  1.126872    V
19  0.898024  1.127845  0.615035 -0.924035    H

[20 rows x 5 columns]

In [33]:
ok=pd.read_csv('ex6.csv')

In [34]:
ok

         one       two     three      four key
0  -0.651640 -0.884234  1.129314 -1.475922   L
1  -1.049134 -0.329225  0.896710  0.570432   B
2   1.207901 -0.292628 -1.213556 -0.748125   G
3   1.005872  1.559291 -0.089014 -2.552665   R
4   1.465832  1.622837  1.118925  1.093328   Q
..       ...       ...       ...       ...  ..
15  0.519565 -0.553663  0.562182 -1.191224   N
16 -1.212137 -2.140113 -0.017224 -1.026209   U
17  2.801264 -0.274982 -0.433784 -1.362708   P
18 -0.950731  0.696738  1.071900  1.126872   V
19  0.898024  1.127845  0.615035 -0.924035   H

[20 rows x 5 columns]

In [35]:
chunker=pd.read_csv('ex6.csv',chunksize=10)

tot=pd.Series([])
for piece in chunker:
    tot=tot.add(piece['one'].value_counts(),fill_value=0)
    
tot=tot.sort_values(ascending=False)

In [36]:
tot[:10]

KeyError: 10.0

In [37]:
tot[:6]

KeyError: 6.0

In [38]:
tot[:2]

KeyError: 2.0

In [39]:
tot[:1]

KeyError: 1.0

In [40]:
chunker=pd.read_csv('ex6.csv',chunksize=20)

tot=pd.Series([])
for piece in chunker:
    tot=tot.add(piece['one'].value_counts(),fill_value=0)
    
tot=tot.sort_values(ascending=False)

In [41]:
tot[:2]

KeyError: 2.0

In [42]:
data=pd.read_csv('ex5.csv')

In [43]:
data

  something  a   b     c   d message
0       one  1   2   4.0   5     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [44]:
data.to_csv('out.csv')

In [45]:
cat out.csv

,something,a,b,c,d,message
0,one,1,2,4.0,5,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [46]:
import sys

In [47]:
data.to_csv(sys.stdout,sep='|')

|something|a|b|c|d|message
0|one|1|2|4.0|5|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [48]:
data.to_csv(sys.stdout,na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,4.0,5,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [49]:
data.to_csv(sys.stdout,index=False,header=False)

one,1,2,4.0,5,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [50]:
data.to_csv(sys.stdout,index=False,columns=['a','b','c'])

a,b,c
1,2,4.0
5,6,
9,10,11.0

In [1]:
import numpy as np

In [2]:
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
from pandas import Series,DataFrame

In [4]:
dates=pd.date_range('1/1/2000',periods=7)

In [5]:
ts=pd.Series(np.arange(7),index=dates)

In [6]:
ts.to_csv('tseries.csv')

In [7]:
cat tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [8]:
try=pd.DataFrame(np.random.randn(1000,4),columns=['one','two','three','four'])

SyntaxError: invalid syntax (<ipython-input-8-e6e74d524950>, line 1)

In [9]:
pd.options.display.max_rows=10

In [10]:
try=pd.DataFrame(np.random.randn(1000,4),columns=['one','two','three','four'])

SyntaxError: invalid syntax (<ipython-input-10-e6e74d524950>, line 1)

In [11]:
try=pd.DataFrame(np.random.randn(20,4),columns=['one','two','three','four'])

SyntaxError: invalid syntax (<ipython-input-11-ca87e7753d28>, line 1)

In [12]:
ok=pd.DataFrame(np.random.randn(20,4),columns=['one','two','three','four'])

In [13]:
tryit=pd.DataFrame(np.random.randn(1000,4),columns=['one','two','three','four'])

In [14]:
tryit.to_csv('ex7.csv')

In [15]:
cat ex7.csv

,one,two,three,four
0,0.9210044633347714,0.31266517739065025,-0.574876529280414,1.5015595425655608
1,0.2623445118145138,-0.5603383453636056,-0.5901884630729876,0.7178555780022825
2,0.48698240518584374,-0.16572792591806215,0.5824814154981937,0.17871819799118166
3,-1.0529821172001084,0.7558286237684115,0.09472039869018016,1.3965282249936308
4,-0.7877959318009582,1.125428395096464,0.45803094307613235,1.5138782783189606
5,-1.2793235223840118,0.4327142871523286,0.2673208020389843,0.01908288804533745
6,0.2949181943997581,1.185263818612514,0.7680981716631071,-0.43176808229302993
7,-0.21205966612245947,-2.2858356698732494,1.702945429418162,-0.1662786164601913
8,-0.37899500927244417,-1.0149397620128646,-0.1473290924103477,-1.4105442773086125
9,-1.4051695597441232,0.03956283145226254,0.6415086827472221,-0.09278225333396445
10,-0.11184876321881741,1.0329220462400341,-1.8566227836936868,-1.0265763423003553
11,0.6565661212389693,-1.258764351988194,-0.8789576204112974,-0.2217625916612902
12,-0.03326278427358204,0.33288790389684947,-0.23718060949706113,-0.755319522954445
13,2.1989720469748226,0.40306951160957943,1.0629628228252104,-1.060519280083339
14,-1.3801111368300583,-0.37287620033973623,-0.04567016839227749,0.5147648156153559
15,1.3551237766710853,-0.7358801301428053,0.043870835617609655,-1.5788043007430104
16,-0.6554091127232173,-0.7247523131084074,0.5689419390109335,-0.6808669149934549
17,1.249681512272496,1.0271201835233583,-0.2291850354625699,0.0465313035769889
18,-2.618158597829113,-0.26298125896577507,-0.27366613254105615,0.2084780959473949
19,-1.538789952801693,0.4247502712746779,0.9488856904581381,-0.9828399611447352
20,0.7757615173251126,1.4198887166586007,0.6691847249485282,0.43568614431807456
21,-0.5850550753410267,0.24529226048443317,-0.13156489503720845,-0.6320456809654273
22,1.2276297865105195,0.6049099616612733,0.4834573838608616,-0.5912596086696078
23,-1.319446179947264,1.102189290197994,-0.6552138058242248,-0.317662713620466
24,-0.28817857877644854,0.7607365128291621,-0.4737026216807497,-0.4775612899277218
25,-2.033298116123658,-0.4988105140929877,0.33847187432585824,1.648466952443442
26,0.9387604450904508,-0.750609181066091,-0.042380528136247535,-0.7625136192768928
27,-1.1980910864088945,2.6085500369226815,1.4311721966799145,0.8465063978028373
28,0.7642438124224148,-3.313978286504961,0.3187556171517487,-0.9792270982999871
29,-0.16644404703188198,1.8092690492450676,-0.8272187029173187,0.7243799325659459
30,0.22241081893930073,1.0817779684969975,-1.342976979457239,-0.8180407672722116
31,1.5380499319042078,-0.5239253028634391,-1.0503180796768046,0.6601760044664283
32,-1.8889167913190246,-1.5843638933397794,-0.3415294948903041,-1.2307424118871702
33,0.4956009282687418,0.7481052869854388,0.41743288875631074,-0.43365543094105025
34,-2.082062470178914,1.0302897468397463,-0.9366721907774095,-0.9958847665561164
35,-1.1799024389642327,-0.23007923657472143,-0.9522527611721309,1.9646488117530552
36,1.8628102410197807,1.481674712392801,1.0349695750560843,1.0380931013890393
37,1.4849676038613473,-0.421223740170977,-0.0925122158593001,-0.12428699758434085
38,0.823514863480708,0.8663088445304493,-0.6127708610531779,-1.263962279314651
39,0.3321432891435744,-0.6860357534166679,-1.2177524559136454,-0.43294367038850695
40,-0.20082814661874143,0.40160274488895026,-0.7154969816193842,1.1030226866958102
41,0.35223335431197517,0.5773481754358638,-0.4022992438104974,-0.2544138210991077
42,1.4659012698438985,-0.618658549881124,0.19395549359166162,-0.8746524719039931
43,0.01677426000985382,-0.014726557170226294,2.6583696018385017,1.1595202008249546
44,0.20274777874377004,-0.5345092366049503,0.5201816245883009,1.5446424173670998
45,-0.3409119417209499,0.30572285992270387,0.3906957307422036,0.380616874949918
46,-1.276368591659469,0.47603113340696973,1.2379620607825954,-2.598353343598641
47,1.1319608386317546,0.7368514083746149,-1.1643092265374158,0.40964842680923813
48,0.036928113325800364,0.2874676110313924,-1.2267338113967567,-0.1245875910191408
49,-0.4322007810843282,-1.1641224173769071,0.4658470000705493,1.21844642929429
50,1.0983173917552507,-0.4678285771302114,1.3372114512412776,0.8401325210056715
51,-0.9125951729692615,0.19123014366346658,-0.75732361829884,-1.6329050826551437
52,0.9566433561843452,0.24173209763116452,-0.887671990036036,-0.4393023089307049
53,-0.43036287964129755,-1.4111687147044483,-1.5094130722974888,-0.3574284703283933
54,0.03306153806323852,-1.514461069549113,0.2569349990478167,0.5322707317975316
55,1.325137605016079,-0.5635656708467608,-0.21071654487836802,-0.09532534442125941
56,1.2919242392785704,1.1832225523174595,-1.391312095387424,0.17988215014907652
57,0.537010708086598,1.9448135421649566,-1.0798569843586878,-0.9959775421324667
58,-0.9722023470962633,-2.2656170154093735,0.6962213559409958,0.7014988746221887
59,-0.6538413311167319,-2.1135470010270487,1.8748965831158684,0.19853875350755565
60,0.043387823071198414,-0.5175132377790426,0.3870128621298711,1.6524742960244654
61,-0.46496832652429726,-0.5789576680243008,0.6715877748282665,0.9812669157099867
62,0.9921164500559126,0.9539590985379899,0.6992404203429209,0.26516645143863565
63,-0.7028159404737123,1.0915568708845538,-0.7315724451205261,2.258970384311981
64,-2.124421139255666,-2.0690097811709816,1.029701323173919,0.753293405485444
65,-0.26991700619043724,-1.0050859846077296,2.2677202766423776,-0.23706420039100048
66,0.8330339139617081,1.3406850111731807,-0.8611113325850202,0.4373205152039623
67,1.8056009635564993,1.3608581396052757,-0.17319197710120854,-1.9944233588717364
68,0.5509955380346189,-0.3362314387080515,0.5759200737283809,0.1538613660018611
69,0.19509295704926247,0.2871467245956803,0.2748109980020543,-0.24233290927956042
70,-1.3392133748283912,-0.32629752435631215,0.47760826548004426,1.001337923210541
71,0.9243573919320405,-0.2683222779933729,-0.10846367142272909,0.7688279955107191
72,0.20086572684970802,0.14625887566356557,0.18717296891190077,-1.4503738454490984
73,0.8630180541781944,0.43648895840930824,-0.31279845804258694,0.45526803697135865
74,-0.8227956094501103,-0.9463463128019157,-0.8933781581272981,0.1364275887862854
75,0.3055895139249797,-2.430021257986296,-0.2486574733526744,-0.6581648177795001
76,0.6293578350238853,0.12436252596022963,-1.0326642147873106,-0.8656869372317861
77,0.3178310066831767,0.08849406884061262,-0.5501546588705276,0.0792813759359848
78,-0.4274800537454667,0.5088210713331589,-1.4649166095906265,0.055914424484929656
79,-0.7402402191047115,-0.337473327918671,0.14464469228499663,2.5304676325166313
80,-0.37698401453815283,2.284665530029139,1.2448962985144376,0.06598341875430395
81,1.166710589982173,-0.8981275749310448,-0.26639133947677657,-0.6046400610599971
82,-0.16189844738540557,0.9432767697492042,0.725861885297981,-0.32689826342359013
83,0.18892952802333154,0.09198294870436682,0.44827883004305563,0.016774156576431352
84,0.7652637637436276,0.21604394856895554,-0.8517599788078233,-1.589883569688497
85,1.2575468128258294,-1.2667084450738864,1.2735044885572442,-1.287237279740375
86,1.043289353881875,0.07316595905708219,-0.4839320588363197,1.2572819445376373
87,-0.8952424877162851,-0.473689413954774,0.3399108111155673,0.2937541284236658
88,-1.3553395728347226,-0.46983145806311516,0.6134442735157067,-1.7937047000212685
89,-0.3418152432229548,0.42235529635434804,-0.9337465070724116,-0.7379810398763327
90,0.6708481622788329,1.8530553669034293,1.5192932847020346,1.4532126159620073
91,1.1254297623017764,0.8636468032577547,-1.6261939321386882,-0.8691568858383851
92,-0.6722761480394044,-0.14592364562352103,0.4542924773902336,-0.23287081314571934
93,0.4082467707565366,-1.2282600497122125,-0.5868139672824835,0.017799823992914427
94,-0.5680539030502815,-1.2516817808987968,0.7740793473553971,0.08943504361961797
95,0.7757076642088552,-0.48856909421990585,-0.8741918235613323,-0.6701452965929127
96,-0.2689627774166628,0.44136309457248,-0.003894129098736792,1.4941157080498146
97,-0.06331027848500195,-1.8015269771488718,1.2554429787998387,-0.4581594769276899
98,0.36419165268126175,-0.5582440601322283,1.9051632636111075,-0.1414020982724016
99,0.3252756401071069,-2.969171217461593,-0.24026719953037204,1.399024391458361
100,-1.3070442566202283,-0.23969455305509568,0.06977319406784845,-0.586134011407289
101,-0.211362255359382,1.6119523882507178,-1.3491659847168718,0.8778671466472371
102,-0.6401259163647097,-0.4742902426062663,-0.890077734884049,0.974010701410475
103,0.8554312556284874,-0.838379904793346,1.2690442637060555,0.11177661209235411
104,-0.33483135719026236,-0.47814794695448193,0.28728322798257017,-0.6285071261000915
105,-0.6253563769961913,-0.05260358837226095,0.3349911466585042,2.069928572948268
106,1.4458402999405993,-0.8618623271706062,-0.8972140239108549,-0.315452033713075
107,1.3368583632559903,0.17592810423154506,2.5177699843225225,-1.0763441342561517
108,1.2658156473225501,0.7939222065923266,2.1101982353155533,0.5324784319463397
109,1.9476697654176056,1.5504763749862018,0.2939791371543696,-2.795689267957186
110,0.15094653545961542,0.6024278123815618,-0.4482683305353346,-0.272913880130834
111,0.48721560215623155,0.4401998574089572,-0.13993844288005175,-0.8706122575722
112,-0.20364950936779197,0.9544508874507324,-0.09395165541726365,-1.2729809281775504
113,-1.7370847730202486,-0.23598350162848578,-0.14292145859487504,0.2077319616214394
114,-2.768069313863884,-1.9733532301366665,-0.6167100664923124,-0.17375448932800286
115,1.2285839030029946,-0.4814325858326985,-0.5048851657353561,-1.5745213922031824
116,-0.09929065181169647,0.39010608956583565,-0.47842186687253896,-0.6825100062351119
117,-0.2977157091979382,0.22977318788463097,0.3875494720603575,-0.4482136750364187
118,0.9825682133369205,-1.5777732196974308,-1.1486775005720755,-0.9601874396662533
119,0.30293589559630635,-0.27438932771097024,0.5825697812266918,0.2254413164323146
120,1.2750831428667624,-1.5743891954570162,-2.004121724507996,-1.1583290825569017
121,1.260951692057876,-1.0455701109049664,-0.27798698979813513,-1.2667421438641762
122,1.4572856740287772,-0.3162673182005106,-0.0793551751039085,-0.14818267397526802
123,-1.7893862642034328,1.3579456214058072,1.5178320009566053,0.2614069413017417
124,-0.32492623691413636,-1.2181906721334186,0.1994124170509424,1.020207716540383
125,1.2199962274467646,0.5767381599338552,0.9098397577497166,-0.2739467838643678
126,0.627131708573444,1.3942391502366231,1.3588625053449075,0.549726598937916
127,0.9125103122107081,2.0135622656633765,0.44038014146971,0.08685194692279914
128,-1.3247895998541963,-1.232729691846982,-1.5104356024685364,0.2617964376410593
129,-0.786624598037597,-2.112453254719682,-1.1428919563919284,-1.1222901599544315
130,-1.0035695707707746,-0.9761574734272761,-1.9398377255512673,-0.49531387440026586
131,-0.5853519860953077,-1.3762426543626107,-0.015213217693769219,1.3931177260262921
132,0.5519323073196964,1.612675951038142,0.4709149829036285,-0.5025197582487897
133,-0.1575432193029347,0.546581047330686,2.1236115386758727,-1.2624843214856056
134,-2.1400397829863707,-0.29158840937830627,-0.2895589546227701,0.4483969634729413
135,-0.7204860826552867,-2.413184205705071,0.43194219969385006,-0.49306849150739585
136,-2.0400390250054334,-0.15174163560104512,1.1432278216668792,1.3196209746016567
137,-0.9454053114256189,0.40700710632364817,-0.6983468630655099,0.31165691186517125
138,0.38576416738996755,0.1817213875216047,-0.004467352158174091,-1.1838977989243087
139,-1.495368063425976,0.1377423016086386,-1.8059706925330274,-0.9142499872314713
140,-0.44335136304078615,-0.4134006173090182,-0.02839611184905163,2.792557273248255
141,0.44461849371321055,-1.3759589376971424,-1.5456651593786481,-0.29487744505512475
142,-0.794162991372386,-1.8428308418672759,-0.6499948407220926,1.4788577609231877
143,-0.6950039708534121,-1.1397965332973472,-0.18531681976531045,-0.8870659688602313
144,-1.7205144089873923,-0.018028468090311212,-0.5043164559125946,-2.0410891749345677
145,0.8488793587314968,0.4721181037163903,-0.5392907661465188,-0.6990439156860933
146,0.5591021287880485,-0.20762787787101766,-1.0182763773583943,0.0013205476810903575
147,-1.7706609800641673,-0.14928497826367781,-0.22171472349912466,0.7607417741076407
148,1.355983668037341,1.0842806799902442,-1.502084471929411,0.3154873501134074
149,-0.7061256583245268,2.1482346857714893,-0.7103314261400697,-0.015009796212361377
150,-0.3591696754218398,1.298470187256006,0.6451087836508315,-0.8496574847613585
151,-0.4381452500077058,-0.08687074100466627,-1.4849556758358444,-0.16243419414287974
152,-0.3504055353407382,0.19549280499490218,0.5059461203719399,-0.8303963570664563
153,0.26388662130591023,0.6337581182055394,0.503676315945295,-0.8880462125475392
154,-0.0010913609587909342,-0.8266116070189501,-0.34546504067007966,1.0974102398392087
155,0.042518021089678726,-1.1718437347797206,0.9165966876360627,-1.701778145348115
156,-1.383741864871387,0.9416247054483264,-0.784094253657692,-0.7591195945601932
157,-1.282482981507192,-0.13169126232264416,-0.9985095649053374,1.8131596962937875
158,-0.5055803171214,-1.4345876706357938,0.7360043956437552,-1.0769232103757158
159,-0.11368461448072247,0.4774701614141214,0.6498016679662172,-1.6961656067674253
160,-0.31825489699248577,0.612303822253771,-1.809609413641121,-0.23421110729329278
161,-1.5959787438651585,-2.707337319230229,-0.9611409401666013,-0.5606258271169342
162,0.13316096681146936,-0.11124729483965502,0.6951116538824009,1.012572237971548
163,0.20237183879640303,0.8712345609393847,0.4785223455822918,0.3709268807732391
164,0.7030743895703215,0.07029015541809852,-0.379845659520496,-0.8434026852376638
165,0.09235191007765882,-0.7035588787716807,0.1682573552756935,-0.16520510249638906
166,-0.9883619394547519,-0.32006871340261833,-0.4848865028881674,-1.4559028705256747
167,1.1074874416647746,0.35163131871679093,-0.2738514393629478,0.4931305188237222
168,-0.0702619509657971,1.4036553762613155,-0.6638379723241996,0.5790232866621896
169,-0.5947885419487301,0.26676594191245434,-0.24729772032093134,-1.7802123544481443
170,-0.7149850081363089,1.028810451941543,-1.8784999000110145,-0.6434441273310019
171,0.0005472863716569796,-1.2675063594144826,-1.8329266189837745,0.43280278867916194
172,1.7994800500951258,1.0403445650305092,0.5290348983283286,-0.2958433268383963
173,-0.5899870645564089,0.31878906476617636,-0.8924279188045435,-1.8511459102330468
174,0.8581536113380432,1.0129502678887214,0.805888234040406,-0.6648671459044081
175,-0.5061707177317132,0.4785870053215704,-0.15126852723574427,-2.2015465735977098
176,-1.9207863897116928,-0.5441362221256915,0.17101350370874316,0.4027000342569216
177,1.4290283428874369,0.37737753996953954,0.3460905351565732,0.691492107251242
178,0.4972838162026023,0.4902261957240481,-0.06926889031519765,-3.128513967220557
179,-1.4434579974637416,-0.1310079340236937,-1.2502356184384802,0.5393229814752036
180,0.18255871460739223,0.20704905976167773,-0.7148356250529789,-0.4202881140734441
181,0.14901755766898162,-0.9462879766235807,0.6354741919038306,0.15923501743691035
182,0.10344350252753647,1.143546025682952,0.21101922834646705,-2.120488185559582
183,0.9059251185341732,0.32992165864049416,-0.011764033803938319,2.166471345941703
184,-0.41152348243528086,0.8112511205439497,-1.3705520703711622,0.5081467291656414
185,0.3462910987536766,-1.3625475332049872,-0.28028880862925065,-2.8907702887292346
186,-0.37152868329071836,-0.9880715341609236,1.539540140654056,1.768167319382159
187,-1.1062051249863127,-1.135611343310089,0.03775400701718685,-0.34455090519331116
188,-0.0978120447691222,0.8246725603671659,-0.8897198801633853,-1.2936218317359682
189,-0.04776990473703542,0.3637105816033572,0.4020455100437524,-0.8867074366701451
190,1.02349559928832,0.22376621776609262,-0.15140311768215398,-0.1833022027404635
191,0.5037803235913865,-0.2565033165503822,1.6909746501344989,-0.40101727086911093
192,-0.3554015004259574,0.8211654757732446,2.10686168847567,0.5664067973060408
193,-0.16462767446441962,-0.666859327646669,0.33737792848878834,-0.4269473501755458
194,-0.23819298897930216,1.5591053558018915,0.71567230901292,-0.575851532915789
195,0.35321408085118583,-0.7916238550400745,2.9925167720491905,1.2330797228782457
196,-0.9858901191632126,-1.4923040518281947,1.2661452685794372,-0.47778234563323607
197,-0.4055331889903044,-0.12588712772709879,-0.025658873753923554,0.8334204070910476
198,-0.3385094917507333,0.588155673381653,1.2583526749860785,0.10234552107133985
199,-2.277775482313436,-0.4346971394587349,-0.6428336586906626,1.8435765218745745
200,0.8282658202465107,-0.7683508625221499,-0.026134049889717303,-1.7086698832326164
201,0.13464766941752573,-0.5786808129409288,0.8663139235313636,-1.356537621604756
202,0.15064978341959728,-1.1153982101711337,0.06242932938674532,-1.2880910632124933
203,-0.485379902614664,0.3344552380968628,-0.5183541746561638,-0.00011878233539110724
204,-1.328754121735755,-0.09389285399252605,-1.2814783810643515,1.34061804141209
205,1.7631604104090437,0.4668390869790711,-1.6573612320891875,0.096667465958382
206,0.7690398183878723,-1.110461964932697,-0.8376792079238939,0.7595670842337938
207,-0.7942134376374657,-1.5030871587354693,0.5227978151305889,0.30797381137418217
208,-1.3575630219626966,-0.8457472715462993,0.07352598661173948,2.6214268849631175
209,0.05284616886427903,0.8014978791412807,-1.262383703876074,2.335744664916521
210,-0.05649036334564662,-0.1961521126528188,-0.44468174681293615,-0.7061635707621263
211,-1.0460954860344776,0.8346170581712616,0.5185078395837833,0.9445947730175707
212,0.12585404028112782,-1.1560355861152671,0.717362210000315,-0.21750342983146095
213,0.7522854906233157,-0.33192074723956083,0.6185170463202696,0.5902297313123024
214,-1.5247792208079276,1.6269206234084812,1.046446862258359,-0.5262518313915863
215,-1.1024474591870008,0.5027038446589814,-0.5263654817239833,0.555858207716901
216,0.7232896748650247,1.4564102054216497,-0.29364008518344253,0.08494480383789536
217,1.0199878591497913,-1.1445377607767762,-1.2669558183891125,0.11781808487998731
218,0.22571954872720035,0.5754112384061998,0.14346155846663405,-1.786545582570814
219,0.07734821155951271,0.4810482952463051,-0.36975175318728254,-1.1127262428831162
220,-0.9973953632801937,1.0420730954554527,-1.637123972598419,-1.7146016224865837
221,0.06011601153124425,1.3071113627253028,0.005060965322441064,-0.47411591147766036
222,-0.39663426531370966,-0.03836983594360985,0.085204682761622,-1.0922658418421909
223,0.1002954704583757,0.40590333748002494,-0.5956939316925975,-0.11756611476902762
224,-1.6759306793252213,-1.083084552834547,0.5187053932408889,-0.19277097437130056
225,0.2551390589448139,0.1245410381815376,-0.8093326467833633,-1.0798647074637626
226,0.12515961101039033,1.0013643147675098,1.1464434184235357,-0.8855185423858645
227,0.5359161440464202,-0.3076359174359104,-1.6910007347834017,-0.002297992405500111
228,0.718789879806294,-1.7394690057581839,-0.2961707277421088,0.31728908925552696
229,0.8257191723608204,1.5542789797452217,-0.25175496808464454,0.8418215405198202
230,-0.011246483322121621,1.1735576135949661,0.41071782336241724,-0.18307140252833226
231,-0.2554654483796022,0.2863182670208406,-0.6446046350683643,-0.6108220845022894
232,0.12013237775147831,1.9683648996045042,1.938326650068639,1.6750467646428648
233,-2.3726735536034838,-0.4694163031343451,-2.427874033753404,1.0624309252710384
234,-0.4311593219377889,1.2633220639386706,-0.47828453969457135,-0.4228545363941506
235,-0.41570912072796246,-0.3130684018004409,-0.31236851980085506,0.4727243485803741
236,-0.05154311036254021,-1.6046558483033533,-0.11461467471370677,-0.28037597801488995
237,-0.8300758383616267,-0.5688976560164261,1.96836057450701,-0.6299147519613092
238,0.9784519496671225,-0.7354312191660839,-1.2577904322691544,-1.9903950511789283
239,-0.8781304051130033,0.6871080133125117,0.49013448051184,0.5182943496037389
240,-2.4670710072856212,0.4865447983512122,-2.139414131985244,-2.39231104538072
241,0.5739151688451417,0.29840511722597446,0.7090811022752195,-0.516457522988383
242,1.410798190942741,0.40609670463153025,-0.32702156095314866,-0.12278731887907521

877,-0.269771551146165,0.5699234644947653,-0.7303891256941184,-0.18131025853413252
878,-1.9053510474976383,-0.3295096453333894,-1.1632643296187635,-0.3361869740684306
879,1.0702789190318247,0.7307501076210492,0.8107067014541096,0.1641539114299438
880,-0.8648887915984453,0.5580916930549297,-0.3297628564403165,1.3325867927614177
881,-1.5453183474184078,-1.5700074701199196,-1.044911076607321,-0.8794023603208914
882,-0.6152183672645894,0.21805743156360782,-1.1396768984633798,-0.19479913329136722
883,-0.04952149955965295,1.0797799029328352,0.0789531261760444,-2.1319419422427153
884,-0.7636389673642089,-0.04755087837543544,-0.7735415478274158,0.11785973441416063
885,0.2036410825602682,1.7360003545733054,-1.8509522871024662,-0.7015824310147303
886,-1.1663372598130888,-0.2957256894977506,0.1245687661887135,0.5435147825113645
887,-0.009739158834415132,0.6601239692387431,-0.5111172252269047,-0.6702303609712642
888,0.16277444108307182,0.307297501081395,-0.5649066145954148,0.3757205187033039
889,0.6435858232257211,-0.45256961151921704,0.6152780865380587,-0.1515341234954551
890,-0.5195957100581361,0.7756461892666704,1.1146833819247643,-0.5718794971081352
891,0.816578193769238,-0.2529426590583548,-1.5136433138937813,-0.30914521154090197
892,-1.2022555394622596,0.9200248102944,1.072796629696981,0.9351844912881979
893,0.39933357331932545,0.8147320597077439,0.7744148063806732,0.4322420826487224
894,0.6650757840709687,0.8081203919683947,-0.7485380548739139,-0.9490330818819641
895,-0.3693455394531124,0.43242551297240467,-0.2719213032326888,-0.08474780233703884
896,2.0778259854593473,-1.0238195384345556,0.3366788787206459,-0.7418635812023411
897,0.40370152842756096,2.2551170231672675,0.10108102809697656,0.26535911636931514
898,1.5250327141371078,-0.5912287820644209,1.6320384203856115,0.4032766759603492
899,0.6062862201920337,-0.1174540113454723,0.40683784182144794,-0.0651542623863071
900,-0.7237276594784449,0.20159917674065472,0.5772399815088107,-1.4168152254032358
901,-1.289106312182808,0.6454076894981885,1.7579473354913526,0.14481298060944414
902,0.2310346745403289,0.8427492794392171,0.14705693022615218,-1.5128216232081013
903,0.46299408074033715,-0.7865521094880197,0.36020402620310776,0.07310847230368804
904,-1.4774779943611376,0.23996058732706113,0.012935401913537148,-0.20925106372081498
905,-1.0049691363787785,0.45460184574431256,-0.4957236453169693,-0.005662924580572629
906,-0.4513314761174937,-0.32649362920374336,-0.1827429271055468,0.40985650052324557
907,0.8302067255797444,-0.306615938572255,0.42629337465685224,-0.021538795060068606
908,-1.7683150742815776,-0.35911171787855695,-1.1378879578302823,-0.31400236878600835
909,0.2263293262245133,1.7206592044482232,-0.13810281710737687,1.4059017716184727
910,0.22731845724397343,-0.893485054006353,-0.48237020380625556,2.2224611526697284
911,1.3903372529699713,-1.1111949016330038,-0.204623867381456,-1.332910487548795
912,0.4844974104372642,0.9889380602937494,0.3519564448110932,1.0946296437526988
913,-0.6689772693741828,0.5805162959373698,2.343804319278565,1.6682440080867076
914,-0.907023530331618,0.1818098908054903,-0.5396090893782902,-0.21993178579701084
915,-1.3107314879690242,0.22815378725842447,0.756744826402015,0.6162349471428048
916,1.3379751548391754,2.2217096527425872,-0.014450688481067155,0.7661296931905035
917,-1.9442202665862551,0.12017283805505798,0.7880767826668057,-1.0643965547909093
918,1.1978856333232604,-1.0165911511767205,-0.506779296488319,-1.447913081484493
919,-0.4809734988258249,-0.03689825194376208,-2.637015169633384,-0.2678050605666839
920,-0.10525167753149105,-0.30320724388281606,0.8681233386166949,-0.6387210502396347
921,-0.7198556398298133,-0.22375583769870988,0.5151017579750322,-0.4696814456507267
922,0.7956560766558076,0.915653189768737,-0.26467302201817616,1.2987365450121138
923,0.7470711470640985,0.4894617291454875,-0.8852023750130592,-0.2825523578212514
924,-0.2310085638696083,-1.3902497631334894,-1.2077470882617907,-0.00750917065874527
925,-0.24485439162491324,-1.751193715144044,-0.5801181679605926,0.9251731980627447
926,-2.6494546398406777,-0.1165653188269181,-1.6010222717612288,-1.895623421041606
927,0.293292549041421,-0.3501407078742362,-0.07738346307288614,-0.7920673937108156
928,0.3602805631262192,-2.2744600245235613,3.298759607618244,1.1499921130514166
929,-0.7677636949691021,-0.4855551961953618,-0.10414892885056419,-1.288387355583764
930,-0.45269357653319925,-0.46464339253262193,0.29629131587193386,1.1453926201503126
931,0.6859750680195211,-0.8902669732339412,0.012237812390577847,-1.6774208156518209
932,-0.18342159470459177,-0.7562401141711773,1.408789392240047,-1.4332150238714527
933,-1.1014236578095526,-0.38399914318113965,0.6721022556386125,0.11697283394505613
934,-1.1406565892896878,1.0973407019424395,0.29431287614633117,0.07686528805307913
935,1.63976644967133,0.4703046260582575,-1.3810181897173717,1.6961742383890452
936,0.9841159055273402,1.662029055409208,-0.43221606824302167,0.9692770570393923
937,0.4808545895961215,-0.1292332557656153,-1.062960583357336,1.4682219976417796
938,-0.9941593710709393,-1.3882142051740287,-0.5565470864776229,0.6580504798062855
939,0.8715392031785338,-0.4429707787433874,0.7375444995705158,0.809381816824121
940,0.8443834201215168,-1.187808983466391,-1.3838260000982006,-0.5061035882455741
941,1.4639482453331067,-2.1990486062772683,0.5969287863560443,0.8053955868473599
942,-1.397455046326566,1.8508223725889683,0.36183786829301223,-0.6937984698547941
943,2.612344910130871,0.4215056524653327,-2.4786693298612095,1.6096639187626796
944,-1.2350453986222178,-2.2793568247759826,-0.685560599489584,0.6125472635661913
945,-0.8827495652931897,-1.9093252352586014,-0.44714118333131647,-0.3399357696227565
946,0.3166824963707403,0.09546791933134695,-0.5835915032479864,-0.794460582014849
947,1.0133204169443075,2.631147478084397,-2.832278621904768,0.6488584590357345
948,0.24751926293503584,0.8460049386088008,1.8989391464967043,0.6015659497501429
949,-0.5540541104269961,1.172462933863043,0.9572080031463235,0.4574774301630723
950,0.14458762714880957,-1.8565722181949433,-0.10453166555921696,0.5100222090938524
951,-0.083383349688917,1.1699386124436304,-0.7475935891420182,0.31155717823254503
952,-1.0800084968362345,0.4086149321443512,-1.177756481050696,-0.9377567149526994
953,-0.5335256966369992,-0.04208733083430819,0.28910686706427313,-1.6105543884688431
954,3.6541198819821727,-0.9699047057827052,-0.28001054797296315,0.08154921108241708
955,0.8431831469505715,-0.5739863299174653,0.011006848819666903,-0.2970923791187808
956,1.0923791482579086,0.6718912594731804,0.3383400987339158,1.1792682097266631
957,-0.20604330417989913,-0.27590874541951205,0.8672499764298557,0.06290679124491658
958,0.06589984845583978,0.15647132071645253,-1.3343945653669154,-1.6195180422068118
959,0.8599132379576179,0.3897152788400051,1.7212312653512665,-0.7940647704418266
960,1.4789225231640568,-0.29449775485926477,0.8023192654110961,0.6836933907905506
961,0.7646124929529388,0.807627383685309,0.3360276566372485,0.43979651991382257
962,0.29665325794796327,-0.38035637148094803,-0.0723486076884344,0.9920745965678095
963,3.083219546306555,1.488565830386746,-0.0075885843632503905,-1.4230386809626865
964,0.5756791494966187,0.15960478997992694,-0.7261883975974619,0.6103862894137122
965,-0.12596253988206457,-0.006486908836544597,0.26458745124310634,0.7404676979820594
966,0.5658063561822753,-0.9442993216630525,1.4386293284247058,1.4581392757384197
967,-0.1719194682488746,0.49119101423450556,0.2686087646284125,-1.0435541969419144
968,0.5447892962117192,-0.10818247676226565,0.04578333170536024,-0.9278396703471401
969,0.10244471441454092,-1.15413893909502,0.4663591328960987,1.0199204117965124
970,1.6328705128108116,-0.008630302096520938,0.17674475746370008,0.08523627254782007
971,-0.19317526019162717,-2.099323697361603,0.6047676836532264,-0.2686133706542141
972,0.9530524850593859,0.5452535583761325,0.9632804003606462,-0.3931725992518636
973,0.666235480532606,-0.6427549036884312,0.10595730322167159,0.4162510245519335
974,1.3913464125005217,0.25365851674857853,0.9867046184658506,-1.716773695791691
975,-1.2688204013822444,-1.1362615809615568,-0.2843298407241555,0.18557825606875863
976,0.24112520508954877,0.1535484371860439,-0.06957650468219884,-0.9621078516066713
977,-0.31171920537696424,0.24309573642362295,-0.7349194652584755,-0.13663063876261
978,-0.628048786580656,1.3171389404415335,-0.7511836394349183,-0.7796430954697735
979,-0.3236542295251938,0.3843269665283711,1.0214297910808134,-1.244604617645151
980,-1.358912380758335,-0.6038909244483441,1.8123863607240494,0.29008935823846194
981,0.341481945152147,-0.8619735732461199,0.40560309067817707,-1.3731142448468339
982,0.9405381564189464,-1.2423226518444233,-2.501364968274697,-1.5367439865290797
983,-0.6413298517408809,-0.4516088984707918,0.4132831385900454,-0.29928229929292427
984,-0.2870256285056399,-0.3583917941520301,-0.9338822262924005,0.5567083560495587
985,-0.632270795448618,1.724801428128312,-1.9517441533101332,-1.0274630558843247
986,1.0845685003373735,1.67246197464044,0.7741387192713192,-0.9184479684601309
987,0.4360759944025963,-0.03648464750509104,-1.1655031403238103,-1.6233470386552766
988,0.04236162385685065,1.8049459889142794,-0.6888007586774875,-0.4427685217423236
989,-0.26088663856092353,0.996319677681565,0.2421604476123635,-0.3343516537975156
990,0.5835243833227814,-0.1689336152825659,-2.445809490586839,-0.10141842667850227
991,-0.7160877033103467,-1.1407779103797149,0.16480296403715047,1.7365659846911226
992,-0.4470115381134445,-1.0565928205076693,1.4942316205007442,1.2247939491741415
993,-0.18086880013144263,0.37980445795897855,-0.3834468235980882,0.936031103977291
994,1.0981393581460581,-0.31663219789912095,1.3490873868073803,-0.23224470709838985
995,1.6034186164980448,1.0281481073202008,0.954276046020163,-1.3468803157999591
996,-0.7193214560599571,-0.9204420856266072,-0.6862735379760779,-1.643014012039078
997,-0.9525193352365651,1.010391813330623,-1.682518760767805,0.7226488954843556
998,0.630864426747278,1.675195526262231,-0.6863217224195194,-0.006975831231930863
999,-0.5738650878223778,0.696939014434392,-1.5493534278218946,0.37996829014753847

In [16]:
pd.options.display.max_rows=10

In [17]:
result=pd.read_csv('ex7.csv')

In [18]:
result

     Unnamed: 0       one       two     three      four
0             0  0.921004  0.312665 -0.574877  1.501560
1             1  0.262345 -0.560338 -0.590188  0.717856
2             2  0.486982 -0.165728  0.582481  0.178718
3             3 -1.052982  0.755829  0.094720  1.396528
4             4 -0.787796  1.125428  0.458031  1.513878
..          ...       ...       ...       ...       ...
995         995  1.603419  1.028148  0.954276 -1.346880
996         996 -0.719321 -0.920442 -0.686274 -1.643014
997         997 -0.952519  1.010392 -1.682519  0.722649
998         998  0.630864  1.675196 -0.686322 -0.006976
999         999 -0.573865  0.696939 -1.549353  0.379968

[1000 rows x 5 columns]

In [19]:
chunker=pd.read_csv('ex7.csv',chunksize=1000)

tot=pd.Series([])
for piece in chunker:
    tot=tot.add(piece['key'.value_counts(),fill_value=0)
                      
tot=tot.sort_values(ascending=False)

SyntaxError: invalid syntax (<ipython-input-19-7aaba8ab2d45>, line 5)

In [20]:
ok=pd.Series(range(1000),columns='key')

TypeError: __init__() got an unexpected keyword argument 'columns'

In [1]:
import numpy as np

In [2]:
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
from pandas import Series,DataFrame

In [4]:
pd.options.display.max_rows=10

In [5]:
result=pd.read_csv('ex7.csv')

ParserError: Error tokenizing data. C error: Expected 6 fields in line 143, saw 7

In [6]:
result=pd.read_csv('ex7.csv')

ParserError: Error tokenizing data. C error: Expected 6 fields in line 143, saw 7

In [7]:
result=pd.read_csv('ex7.csv')

ParserError: Error tokenizing data. C error: Expected 6 fields in line 143, saw 7

In [8]:
cat ex8.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [9]:
import csv

In [10]:
f=open('ex8.csv')

In [11]:
reader=csv.reader(f)

In [12]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [13]:
with open('ex8.csv') as f:
    lines=list(csv.reader(f))

In [14]:
header,values=lines[0],lines[1:]

In [15]:
header

['a', 'b', 'c']

In [16]:
values

[['1', '2', '3'], ['1', '2', '3']]

In [17]:
data_dict={h:v for h,v in zip(header,zip(*values))}

In [18]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [19]:
with open('mydata.csv','w') as f:
    writer=csv.writer(f,dialect=my_dialect)
    writer.writerow(('one','two','three'))
    writer.writerow(('1','2','3'))
    writer.writerow(('4','5','6'))
    writer.writerow(('7','8','9'))

NameError: name 'my_dialect' is not defined

In [20]:
class my_dialect(csv.Dialect):
    lineterminator='\n'
    delimiter=';'
    quotechar='"'
    quoting=csv.QUOTE_MINIMAL
reader=csv.reader(f,fialect=my_dialect)

TypeError: argument 1 must be an iterator

In [21]:
class my_dialect(csv.Dialect):
    lineterminator='\n'
    delimiter=';'
    quotechar='"'
    quoting=csv.QUOTE_MINIMAL

In [22]:
with open('mydata.csv','w') as f:
    writer=csv.writer(f,dialect=my_dialect)
    writer.writerow(('one','two','three'))
    writer.writerow(('1','2','3'))
    writer.writerow(('4','5','6'))
    writer.writerow(('7','8','9'))

In [23]:
cat mydata.csv

one;two;three
1;2;3
4;5;6
7;8;9

In [24]:
obj="""
{"name":"Wes",
"places_lived":["United States","Spain","Germany"],
"pet":null,
"siblings":[{"name":"Scott","age":30,"pets":["Zeus","Zuko"]},
{"name":"Katie","age":38,
"pets":["Sixes","Stache","Cisco"]}]
}
"""

In [25]:
import json

In [26]:
result=json.loads(obj)

In [27]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [1]:
git init

SyntaxError: invalid syntax (<ipython-input-1-f188d5ac1197>, line 1)